// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
	.glyphicon:not(.active) {
		display: none;
	}

	a:hover {
		.glyphicon {
			display: inline-block;
		}
	}
}

td {
	a .glyphicon {
		display: none;
	}

	&:hover {
		a .glyphicon {
			display: inline-block;
		}

		button.edit {
			display: inline-block;
		}
	}

	.content {
		display: inline;
	}
}

tr {
	button.edit {
		visibility: hidden;
	}

	&:hover {

		button.edit {
			visibility: visible;
		}
	}
}