<% reviewed = line_item.reviewed? || line_item.campaign.reviewed? %>

<%= render 'table_data_row', line_item: line_item, reviewed: reviewed %>

<%= render 'table_edit_row', line_item: line_item, reviewed: reviewed %>

<% # Extra row is added to ensure CSS striping works properly %>
<tr class="hidden" data-id="<%= line_item.id %>"><td></td></tr>